<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки подключиния</title>

    <link rel="stylesheet" href="/public/css/indexStyle.css">
    <link rel="stylesheet" href="/public/css/svg.css">
</head>
<body>
    <div class="wrapper">
        <form class="content" method="POST" action="/connect" id="form">
            <div class="inputBlock">
                <input maxlength="12" name="name" id="name" class="input" type="text" placeholder="Ваше имя">

                <p id="status"></p>

                <svg class="info" id="info">
                    <circle cx="21" cy="21" r="18" stroke-width="3" />
                    <line x1="21" y1="32" x2="21" y2="21" />
                    <circle cx="21" cy="13" r="1" />
                </svg>
            </div>

            <hr>

            <input name="connectCode" id="connectCode" class="input" type="number" disabled value="1">

            <hr>

            <button type="submit" id="connect" class="button">Подключиться</button>
        </form>
    </div>



    <div class="info-popup" id="infoPopup">
        <h1 class="popup-title">Правила имени</h1>
        <p class="popup-rule">Ваше имя должно содержать букву V/v</p>
        <p class="popup-rule">Ваше имя должно содержать русские и английские буквы, а также цифры</p>
    </div>

    <div class="blackout" id="blackout"></div>


    <script src="/public/script/valid.js"></script>
</body>
</html>