@import url(/public/font/Rubik/static/Rubik-Light.ttf);

#name, #room {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 1fr auto;
}

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background-color: #cfcfcf;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 3px;
}

.panel {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,55,45,1) 100%);
    user-select: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.panel-element {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-icon {
    transform: scale(2.5);
}

.panel-title {
    color: #fff;
    font-size: 20px;
    transition: display 0.1s linear 0.1s;
    display: none;
}

/* .panel:hover .panel-element {
    justify-content: space-between;
} */

.panel-hr {
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#colorPickerMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#strokeWidthChanger {
    outline: none;
    padding: 0;
    border: 0;
    font-size: 11px;
    width: 14px;
    color: #fff;
    background-color: #00000000;
    text-align: center;
}

#strokeWidthChanger::-webkit-outer-spin-button,
#strokeWidthChanger::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#strokeWidthChanger:focus {
    outline: none;
}

.drawing-place {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawing-place-svg {
    width: 1200px; /* 1200 */
    height: 700px; /* 700 */
    box-shadow: 0 0 35px #cfcfcf;
    border-radius: 8px;
}

.drawing-place-svg * {
    /* transform-origin: center; */
}



.user-list {
    min-width: 260px;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
}


#optionsMenu {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,55,45,1) 100%);
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 5px;
    display: flex;
    font-size: 35px;
    padding: 10px;
    gap: 15px;
    color: #fff;
    user-select: none;
}



#rotation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.4px solid #cfcfcf;
    border-radius: 50%;
    pointer-events: none;
    display: none;
}

#rotation div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    scale: 1.25;
}

#rotation div div {
    border: 2px solid #cfcfcf;
    border-radius: 50%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,55,45,1) 100%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.95;
    pointer-events: all;
}

#rotation div div div {
    border-radius: 50%;
    background: #fff;
    width: 15px;
    height: 15px;
    border: none;
}



.blackout {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: 0.3s linear opacity;
}


.popup {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #fff;
    width: min(90%, 600px);
    min-height: min(300px, 70vh);
    text-align: center;
    display: none;
}

.popup-title {
    font-size: 35px;
    margin: 0;
}

.popup-text {
    font-size: 25px;
}

.popup-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.popup-button {
    min-height: 20px;
    box-shadow: 0 0 35px #cfcfcf;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 15px;
    transition: all 0.5s ease;
}

.popup-button.cancel {
    border: none;
    background-color: #00000000;
}

.popup-button.accept {
    border: none;
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,55,45,1) 100%);
}

.popup-button:hover {
    scale: 1.05;
}

.popup-button.warning:hover {
    animation: shaking 0.5s ease;
}


@keyframes shaking {
    0% {
        rotate: 0deg;
        scale: 1;
    }

    25% {
        rotate: 3deg;
        scale: 1.025;
    }

    50% {
        rotate: -3deg;
        scale: 1.05;
    }

    75% {
        rotate: 3deg;
        scale: 1.025;
    }

    100% {
        rotate: 0deg;
        scale: 1;
    }
}